extends layout

block content
    h1= pageTitle
    form(action="/books/new", method="POST")
        if errorName === 'SequelizeValidationError'
            h2.error Oooops!
            ul
                each error in errors
                    li.error= error.message
        p 
            label(for="title") Title
            input(id="title", name="title", type="text", value=newBook.title)
        p 
            label(for="author") Author
            input(id="author", name="author", type="text", value=newBook.author)
        p 
            label(for="genre") Genre
            input(id="genre", name="genre", type="text", value=newBook.genre)
        p 
            label(for="year") Year
            input(id="year", name="year", type="text", value=newBook.year)
        p 
            input(type="submit", value="Create New Book")
        p 
            a.button(href="/") Cancel